.emailInputBox{
    display: flex;
    flex-direction: column;
}
.emailInputBox label{
    margin-top: 15px;
    margin-bottom: 5px;
}
.emailInputBox input{
    border: 2px solid;
    border-radius: 30px;
    padding: 8px 30px;
    color: black;
    width: 100%; 
    outline: none;
    border-top-color: #f6797f;
    border-right-color: #f6797f;
    border-left-color: #0d99ff;
    border-bottom-color: #0d99ff;
}

/* ============================================================= */
.password{
    display: flex;
    flex-direction: column;
    position: relative;
}
.password label{
    margin-top: 15px;
    margin-bottom: 5px;
}
.password input{
    border: 2px solid;
    border-radius: 30px;
    padding: 8px 30px;
    color: black;
    width: 100%; 
    outline: none;
    border-top-color: #f6797f;
    border-right-color: #f6797f;
    border-left-color: #0d99ff;
    border-bottom-color: #0d99ff;
}
.password svg{
    position: absolute;
    font-size: 30px;
    right: 16px;
    top: 52px;
    color: gray;
}